{% extends "base.html.j2"%}

{% block title %}
Nike Air Force 1 Low
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-small">
      <div class="card" style="width: 55rem;">
  <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/b7d9211c-26e7-431a-ac24-b0540fb3c00f/air-force-1-07-mens-shoes-5QFp5Z.png" class="card-img-top" alt="...">
    <p>The radiance lives on in the Nike Air Force 1 ’07, the b-ball OG that puts a fresh spin on what you know best: durably stitched overlays, clean finishes and the perfect amount of flash to make you shine.<p>
<a href="#" class="btn btn-primary">Add to Cart</a>
</div>
{% endblock %}