{% extends "base.html.j2"%}

{% block title %}
Nike Dunk High
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-small">
      <div class="card" style="width: 55rem;">
  <img src="https://static.nike.com/a/images/t_prod_ss/w_640,c_limit,f_auto/38c3dca2-d325-4eda-aca0-1c39280fb03e/dunk-high-championship-white-and-red-dd1399-106-release-date.jpg" class="card-img-top" alt="...">
    <p>Take your day sky high in this hoops legend. The Nike Dunk returns with durability and support for every baller. With vintage vibes and sized for kids, this is an easy slam dunk for your kicks collection.<p>
<a href="#" class="btn btn-primary">Add to Cart</a>
</div>
{% endblock %}