{% extends "base.html.j2"%}

{% block title %}
Jordan 4 Retro
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-small">
        <div class="card" style="width: 55rem;">
            <img src="https://static.nike.com/a/images/t_prod_ss/w_640,c_limit,f_auto/9114dec2-8e26-4747-afda-6a7cf0c77c97/air-jordan-4-white-and-black-dh6927-111-release-date.jpg" class="card-img-top" alt="...">
        <p>The Air Jordan 4 debuted in 1989 by building on the Air Jordan 3 ability to seamlessly blend on-court performance with off-court fashion.<p>
    <p>Out of Stock</p>
</div>
{% endblock %}