{% extends "base.html.j2"%}

{% block title %}
Palm Angels Logo Tee 
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-small">
      <div class="card" style="width: 55rem;">
  <img src="https://images.stockx.com/images/Palm-Angels-Classic-Logo-Print-T-Shirt-Black-3.jpg?fit=fill&bg=FFFFFF&w=480&h=320&fm=avif&auto=compress&dpr=2&trim=color&updated_at=1623962722&q=75" class="card-img-top" alt="...">
    <p>Simple Palm Angels Logo Tee on collar. Size XXL.<p>
<a href="#" class="btn btn-primary">Add to Cart</a>
</div>
{% endblock %}