{% extends "base.html.j2"%}

{% block title %}
Vlone x Nav "Good Intentions" Tee
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-small">
      <div class="card" style="width: 55rem;">
  <img src="https://images.stockx.com/images/Nav-x-Vlone-Good-Intentions-Tee-Black.png?fit=fill&bg=FFFFFF&w=480&h=320&fm=avif&auto=compress&dpr=2&trim=color&updated_at=1611842188&q=75" class="card-img-top" alt="...">
    <p>T-Shirt Collaboration between clothing brand Vlone and artist Nav. Size XL.<p>
<a href="#" class="btn btn-primary">Add to Cart</a>
</div>
{% endblock %}